.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.link-box {
  display: flex;
}

.link-box li {
  padding: 8px;
  margin: 8px;
  background-color: rgb(77, 175, 240);
  border-radius: 4px;
}

.link-box li a {
  color: aliceblue;
}

.suspense {
  padding: 8px;
}

button {
  padding: 8px;
  margin: 0 8px;
  background-color: rgb(77, 175, 240);
  border-color: rgb(77, 175, 240);
  border-radius: 4px;
  color: #FFF;
}